:root {
    --navy-blue: #19647e;
    --light-blue: #87bcde;
    --light-red: #e15554;
    --dark-gray: #91918f;
    --light-gray: #d9d9d9;
    --light-yellow: #ffca3a;
}

body {
    min-height: 89vh;
    margin-top: 100px;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.headerPage {
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--navy-blue);
}

.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 200px;
    background-color: var(--navy-blue);
    height: calc(100vh - 100px);
}

.contenido {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

.pedido-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
}

.productos-list {
    width: 60%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.producto-image i {
    font-size: 2em;
    color: var(--navy-blue);
    margin-right: 15px;
}

.producto-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--navy-blue);
}

.producto-precio {
    font-weight: bold;
    color: var(--light-red);
}

.pedido-detalle {
    margin-top: 100px;
    width: 35%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pedido-detalle h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--navy-blue);
}

.envio-info h3 {
    margin-top: 20px;
    font-size: 20px;
    color: var(--navy-blue);
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
}

.bx-lock {
    font-size: 1.2em;
    color: #999;
}

.productos-list, .pedido-detalle {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .contenido {
        flex-direction: column;
        margin-left: 0;
    }

    .pedido-container {
        flex-direction: column;
        width: 100%;
    }

    .productos-list, .pedido-detalle {
        width: 100%;
        margin-bottom: 20px;
    }
}
