<p>info-producto works!</p>
<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  
  <section class="contenido">
    
    <div class="titulo">
      <h1>Información del Proveedor</h1>
    </div>

    <div class="datos-container">
      <!-- Sección de Datos Actuales -->
      <div class="datos-actuales">
        <h2>Datos Actuales</h2>
        <div class="datos-usuario">
          <img src="https://icons.veryicon.com/png/o/miscellaneous/ionicons-2/person-30.png" alt="User Icon" class="user-icon" />
          <div class="info-usuario">
            <p><strong>Nombre:</strong> Fernando Alonso</p>
            <p><strong>Contacto:</strong> 3333333333</p>
            <p><strong>Descripción:</strong> Es el proveedor principal de las referencias Jordan y Nike.</p>
          </div>
        </div>
      </div>

      <!-- Sección de Editar Datos -->
      <div class="editar-datos">
        <h2>Editar datos:</h2>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" value="Fernando Alonso" />
        </div>
        <div class="form-group">
          <label for="contacto">Contacto</label>
          <input type="text" id="contacto" value="3333333333" />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" rows="3">Es el proveedor principal de las referencias Jordan y Nike.</textarea>
        </div>
        <a  [routerLink]="'/inventario/infoProducto'">
          <button class="btn-guardar">Guardar cambios</button>
        </a>
      </div>
    </div>

    <!-- Botón Volver -->
     <a  [routerLink]="'/inventario/infoProducto'">
       <button class="btn-volver">Volver</button>
     </a>
  </section>
</body>
