<app-header-client class="headerPage"></app-header-client>
<body>
    <app-sidebar-client class="sidebar"></app-sidebar-client>

<section class="contenido">
    <div class="titulo">
        <h1>Pedidos</h1>
    </div>
    <!-- Tabla de Pedidos -->
    <div class="table-container">
        <table id="myTable" class="tablita">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Precio</th>
                    <th>Emprendimiento</th>
                    <th>Estado del pedido</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{ order.id }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.entrepreneurshipName }}</td>
                    <td>{{ order.state }}</td>
                    <td>
                      <a class="links info" [routerLink]="['/pedidos-cliente/info/', order.id]" [attr.id]="'info-' + order.id">
                        <i class='bx bx-info-circle'></i>
                      </a>
                    </td>
                  </tr>
                  
            </tbody>
        </table>
    </div>
</section>
</body>