<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  
  <section class="contenido">
    
    <div class="titulo">
      <h1>Agregar proveedor</h1>
    </div>

    <div class="datos-container">
      <div class="editar-datos">
        <h2>Ingresar datos:</h2>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" [(ngModel)]="formSupply.name"/>
        </div>
        <div class="form-group">
          <label for="contacto">Contacto</label>
          <input type="text" id="contacto" [(ngModel)]="formSupply.contact_number"/>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" rows="3"[(ngModel)]="formSupply.description"></textarea>
        </div>
        <a (click)="addSupplier()">
          <button class="btn-guardar">Crear proveedor</button>
        </a>
      </div>
    </div>
  </section>
</body>
