<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Información del Producto</h1>
		</div>

		<div class="info-product" *ngIf="producto">
			<div class="info-product-container">
				<div class="image-placeholder">
					<img
						*ngIf="producto.picture"
						[src]="'data:image/png;base64,' + producto.picture"
						alt="Product Image"
						class="product-img"
					/>
				</div>
				<div class="product-info">
					<div class="info-group">
						<strong>Nombre:</strong>
						<p>{{ producto.name }}</p>
					</div>
					<div class="info-group">
						<strong>Precio:</strong>
						<p>{{ producto.price | currency }}</p>
					</div>
					<div class="info-group">
						<strong>Stock Disponible:</strong>
						<p>{{ producto.quantity }} unidades</p>
					</div>
					<div class="info-group">
						<strong>Descripción:</strong>
						<p>{{ producto.description }}</p>
					</div>
				</div>
			</div>

            <div class="form-buttons">
                <a [routerLink]="'/inventario'">
                    <button class="btn-back">Volver</button>
                </a>
            </div>
		</div>
	</section>
</body>
