<app-header class="header"></app-header>

<body>
    <app-sidebar class="sidebar"></app-sidebar>

    <section class="contenido">
        <div class="titulo">
            <h1>Nueva venta Presencial</h1>
        </div>

        <form class="crear" (ngSubmit)="onSubmit()">

            <!-- ID del producto -->
            <label for="IDproducto">ID del producto vendido</label>
            <input type="number" id="IDproducto" name="IDproducto" placeholder="Ingrese el ID del producto" > 

            <!-- Cantidad vendida -->
            <label for="cantidad">Cantidad - Unidades Vendidas</label>
            <input type="number" id="cantidad" name="cantidad" placeholder="Ingrese la cantidad vendida" >

            <!-- Número de venta -->
            <label for="numeroVenta">Número de venta</label>
             <input type="text" id="numeroVenta" name="numeroVenta" placeholder="Ingrese el numero de venta" >

            <!-- Botones de acción -->
            <div class="addBtn-container">
                <a [routerLink]="'/ventas'" class="cancel-button">
                    Volver
                </a>
                <button type="submit" id="agregarVenta" class="submit-button">Agregar Venta</button>
            </div>
        </form>
    </section>
</body>
