version: '3.8'

services:
  nginx:
    build:
      context: .  # Ruta del Dockerfile
      args:
        ENV: ${ENVIRONMENT}  # Usamos la variable de entorno ENVIRONMENT
    ports:
      - "80:80"  # Nginx escuchando en el puerto 80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    container_name: front-admin-container
