<app-header-client class="headerPage"></app-header-client>

<body>
  <app-sidebar-client class="sidebar"></app-sidebar-client>

  <section class="contenido">
    <div class="titulo">
      <h1> {{service.name}} </h1>
    </div>

    <div class="info-product">
        <div class="info-product-container">
            <div class="image-placeholder">
                <img [src]="service.image" alt="Image Placeholder" />
            </div>
            <div class="product-info">
                <div class="info-group">
                    <strong>Nombre:</strong>
                    <p> {{service.name}} </p>
                </div>
                <div class="info-group">
                    <strong>Precio:</strong>
                    <p>$ {{service.price}} </p>
                </div>
            </div>
        </div>

        <div class="info-group description-group">
            <strong>Descripción:</strong>
            <p>
                {{service.description}}
            </p>
        </div>
    </div>
  </section>
</body>