<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>{{ bazar?.nombre }}</h1>
    </div>

    <div *ngIf="bazar">
      <p><strong>Fecha:</strong> {{ bazar?.fechaInicio }} - {{ bazar?.fechaFin }} &nbsp;&nbsp;
         <strong>Lugar/Dirección:</strong> {{ bazar?.direccion }} &nbsp;&nbsp;
         <strong>Total locales:</strong> {{ bazar?.localesDisponibles }}</p>
      <p><strong>Descripción:</strong> {{ bazar?.descripcion }}</p>
    </div>

    <div class="register-container">
      <h2>Inscríbete, no pierdas la oportunidad</h2>
      <p>Recuerde que tenemos locales limitados.</p>
      <p>Locales disponibles: {{ bazar?.localesDisponibles }}</p>

      <div class="addBtn-container">
        <button class="addBtn-container" [routerLink]="'/bazares'">Volver</button>
        <button class="addBtn-container" (click)="inscribirseAlBazar()" [routerLink]="'/bazares'">Registrarse</button>
      </div>
    </div>
  </section>
</body>
