<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>Made In . . .</h1>
      <h2>Bazar especial para XYZ</h2>
    </div>

    <div class="details-container">
      <p><strong>Fecha:</strong> 15/10/2024 &nbsp;&nbsp; <strong>Lugar/Dirección:</strong> Centro Comercial ABC &nbsp;&nbsp; <strong>Total locales:</strong> 30</p>
      <p><strong>Descripción:</strong> Un evento exclusivo para emprendedores locales donde podrán exponer sus productos.</p>
      <p>Participa en este bazar y haz parte de una experiencia única de negocios y networking.</p>
      <p>Ofrecemos locales con todas las comodidades para asegurar el éxito de tu participación.</p>
      <p>No te pierdas esta oportunidad de impulsar tu marca y conectar con nuevos clientes.</p>
    </div>

    <div class="register-container">
      <h2>Inscríbete, no pierdas la oportunidad</h2>
      <p>Recuerde que tenemos locales limitados.<br>Locales disponibles: 5</p>

      <div class="btn-container">
        <a class="btn">Volver</a>
        <a class="btn">Registrarse</a>
      </div>
    </div>
  </section>
</body>
