:root {
	--navy-blue: #19647e;
	--light-blue: #87bcde;
	--light-red: #e15554;
	--dark-gray: #91918f;
	--light-gray: #d9d9d9;
	--light-yellow: #ffca3a;
}

body {
	min-height: 89vh;
	margin-top: 100px;
	width: 100%;
}
.add-to-cart-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .add-to-cart-btn {
	padding: 15px 30px;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: var(--light-yellow);
	color: #fff;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s, transform 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
	background-color: var(--navy-blue);
	transform: translateY(-3px);
  }
  
  .add-to-cart-btn:focus {
	outline: none;
  }
  
  .add-to-cart-btn:active {
	background-color: var(--light-blue);
	transform: translateY(0);
  }
  
.headerPage {
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;
}

.sidebar {
	position: fixed;
	top: 100px;
	left: 0;
}

.contenido {
	margin-left: 224px;
	padding: 20px;
}

.titulo {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.titulo h1 {
	height: 50px;
	font-size: 3em;
	font-weight: bold;
}

.info-product {
	width: 80%;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	text-align: center;
}

.info-product h1 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.info-product-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.image-placeholder {
	width: 50%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-placeholder img {
	width: 300px;
	height: 300px;
  object-fit: cover;
}

.product-info {
	width: 50%;
	text-align: left;
}

.info-group {
	margin-bottom: 15px;
}

.info-group strong {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.description-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	text-align: left;
}

.description-group p {
	width: 100%;
}

.table-container {
	width: 100%;
	overflow: scroll;
	display: flex;
	justify-content: center;
}

.table-container::-webkit-scrollbar {
	display: none;
}

table.tablita {
	font-size: 1.3em;
	width: 80%;
	overflow-y: scroll;
	border-collapse: separate;
	border-spacing: 0px;
	margin-top: 25px;
}

.tablita th,
.tablita td {
	padding: 10px;
	text-align: center;
	width: 16.66666%;
}

.tablita th {
	position: sticky;
	top: 0;
	background-color: black;
	color: white;
}

.tablita td {
	height: 100px;
}

.tablita tr:nth-child(even) {
	background-color: #eeeeee;
}

.links {
	font-size: 1em;
	color: black;
}

.informa:hover {
	color: #87bcde;
	text-shadow: 0 4px 16px #87bcde;
	transition: all 0.2s ease;
}

.edit:hover {
	color: #ffca3a;
	text-shadow: 0 4px 16px #ffca3a;
	transition: all 0.2s ease;
}

.delete:hover {
	color: #e15554;
	text-shadow: 0 4px 16px #e15554;
	transition: all 0.2s ease;
}

.add:hover {
	color: #87bcde;
	text-shadow: 0 4px 16px #87bcde;
	transition: all 0.2s ease;
}

.add {
	font-size: 1.5em;
	color: black;
}
