<app-header class="headerPage"></app-header>

<body>
    <app-sidebar class="sidebar"></app-sidebar>

    <section class="contenido">

        <div class="titulo-paginacion">

            <div class="titulo">
                <h1>Ventas</h1>
            </div>

            <div class="paginacion">
				<mat-paginator
					[length]="length"
					[pageSize]="pageSize"
					(page)="handlePageEvent($event)"
					[hidePageSize]="true"
				>
				</mat-paginator>
			</div>

        </div>


        <div class="table-container">
            <table id="myTable" class="tablita">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom Producto</th>
                        <th>Unidades vendidas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let venta of sales">
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.productSaleDTO.name }}</td>
                        <td>{{ venta.quantitySold }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="addBtn-container">
            <a [routerLink]="'/ventas/crear'" class="add-button">
                <i class='bx bx-plus-circle'></i>
                Agregar Venta Presencial
            </a>
        </div>
    </section>
</body>
