<app-header class="headerPage"></app-header>

<body>

	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">

		<div class="titulo">
			<h1>Agregar nuevo servicio</h1>
		</div>

        <form class="crear">

            <h2 class="form-group">Información del servicio</h2>

            <div class="form-group">
                <label class="" for="nombre" required>Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="form-group">
                <label class="" for="ValorUnidad" required>Valor por unidad</label>
                <input type="number" id="ValorUnidad" name="ValorUnidad" required>
            </div>

            <div class="form-group">
                <label class="" for="descripcion" required>Descripción</label>
                <input type="text" id="descripcion" name="descripcion" required>
            </div>

            <div class="form-group">
                <label class="" for="imagen" required>Imagen</label>
                <input type="text" id="imagen" name="imagen" required>
            </div>

            <div class="btn-container">
                <a [routerLink]="'/inventario'" class="btn">
                    <i class ='bx bx-left-arrow-alt'></i>
                    Cancelar
                </a>
                <a [routerLink]="'/inventario'" class="btn">
                    <i class ='bx bx-user-plus'></i>
                    Agregar servicio
                </a>
            </div>
            
        </form>

	</section>

</body>
