<app-header class="headerPage"></app-header>

<body>

	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">

		<div class="titulo">
			<h1>Agregar nuevo producto</h1>
		</div>

        <form (ngSubmit)="onSubmit()" class="crear">

            <h2 class="form-group">Información del producto</h2>

            <div class="form-group">
                <label class="" for="nombre" required>Nombre</label>
                <input 
                    type="text" 
                    id="nombre" 
                    name="nombre"
                    required
                />
            </div>

            <div class="form-group">
                <label class="" for="stock" required>Número de unidades disponibles (En Stock)</label>
                <input 
                    type="number" 
                    id="stock" 
                    name="stock"
                    required
                />
            </div>

            <div class="form-group">
                <label class="" for="ValorUnidad" required>Valor por unidad</label>
                <input 
                    type="number" 
                    id="ValorUnidad" 
                    name="ValorUnidad"
                    required
                />
                
                
            </div>

            <div class="form-group">
                <label class="" for="costo" required>Costo</label>
                <input 
                    type="number" 
                    id="costo" 
                    name="costo"
                    required
                />
            </div>

            <div class="form-group">
                <label class="" for="descripcion" required>Descripción</label>
                <input 
                    type="text" 
                    id="descripcion" 
                    name="descripcion"
                    required
                />
            </div>

            <div class="formContainer">
                <div 
                    class="imageUpload"
                    (click)="fileInput.click()" 
                    [ngStyle]="{'background-image': imagePreview ? 'url(' + imagePreview + ')' : 'none'} "
                >
                    <input 
                        #fileInput
                        type="file" 
                        id="imagenUpload" 
                        (change)="onImageSelected($event)" 
                        accept="image/*" 
                        required
                        hidden
                    />
                    <span *ngIf="!imagePreview" class="placeholder-text">Arrastra o selecciona una imagen</span>
					<i *ngIf="!imagePreview" class="bx bxs-plus-circle iconAdd"></i>
                </div>
            </div>

            <div class="btn-container">
                <a [routerLink]="'/inventario'" class="btn">
                  <i class="bx bx-left-arrow-alt"></i>
                  Cancelar
                </a>
                <button type="submit" class="btn" id="saveInfo">
                  <i class="bx bx-user-plus"></i>
                  Agregar producto
                </button>
            </div>
            
        </form>

	</section>

</body>
