:root {
	--navy-blue: #19647e;
	--light-blue: #87bcde;
	--light-red: #e15554;
	--dark-gray: #91918f;
	--light-gray: #d9d9d9;
	--light-yellow: #ffca3a;
}

body {
	min-height: 89vh;
	margin-top: 100px;
	width: 100%;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
}

.sidebar {
	position: fixed;
	top: 100px;
	left: 0;
	width: 280px;
}

.contenido {
	margin-left: 280px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo {
	width: 100%;
	height: 50px;
	text-align: center;
}

.titulo h1 {
	font-size: 3em;
	font-weight: bold;
}

.crear {
	
	width: 700px;
	border: 2px solid #d9d9d9;
	border-radius: 10px;
	padding: 10px;
	margin-top: 25px;

    
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-group select {
    appearance: none;
    background-color: #f9f9f9;
}

.form-group input:focus, .form-group select:focus {
    border-color: #333;
    outline: none;
}

.btn {
    width: 48%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #555;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}