<app-header-client class="headerPage"></app-header-client>

<body>
	<app-sidebar-client class="sidebar"></app-sidebar-client>

	<section class="contenido">
		<div class="titulo">
			<h1>Servicios</h1>
		</div>

		<div class="products">
			<div class="card" (click)="info(1)">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Este es el unico con link</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
            <div class="card">
				<div class="image"><span class="text">Image</span></div>
				<span class="title">Servicio</span>
				<span class="price">$100</span>
			</div>
		</div>
	</section>
</body>
