<div class="password-recovery-container">
    <img src="assets/madein-logo.png" alt="Made In Logo" class="logo">

    <div class="password-recovery-card">
        <h1>Recover Password</h1>
        <p>Enter the email address associated with your Made In account.</p>

        <form (ngSubmit)="onSubmit()">
            <input type="email" [(ngModel)]="email" id="email" name="email" placeholder="Email" required>
            <div class="addBtn-container">
                <button type="submit" class="submit-button">Continue</button>
            </div>
        </form>

        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
</div>
 