<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>Planes</h1>
    </div>

    <div class="gridTablas">
        <!-- Card para primer plan -->
        <div class="pack-container">
            <div class="header">
                <p class="title">Nombre del plan</p>
                <div class="price-container">
                    <span>$</span>27
                    <span>/mo</span>
                </div>
            </div>
            <div>
                <ul class="lists">
                    <li class="list">
                        <span>
                            <svg
                                aria-hidden="true"
                                stroke="currentColor"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M4.5 12.75l6 6 9-13.5"
                                    stroke-linejoin="round"
                                    stroke-linecap="round"
                                ></path>
                            </svg>
                        </span>
                        <p>Poner esto</p>
                    </li>
                </ul>
            </div>
            <div class="containerBotones">
                <div class="button-container">
                    <a>
                        <i class='bx bx-wallet'></i>
                        Comprar plan
                    </a>
                </div>
            </div>
        </div>

        <!-- Card para segundo plan -->
        <div class="pack-container">
            <div class="header">
                <p class="title">Nombre del plan</p>
                <div class="price-container">
                    <span>$</span>27
                    <span>/mo</span>
                </div>
            </div>
            <div>
                <ul class="lists">
                    <li class="list">
                        <span>
                            <svg
                                aria-hidden="true"
                                stroke="currentColor"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M4.5 12.75l6 6 9-13.5"
                                    stroke-linejoin="round"
                                    stroke-linecap="round"
                                ></path>
                            </svg>
                        </span>
                        <p>Poner esto</p>
                    </li>
                </ul>
            </div>
            <div class="containerBotones">
                <div class="button-container">
                    <a>
                        <i class='bx bx-wallet'></i>
                        Comprar plan
                    </a>
                </div>
            </div>
        </div>

        <!-- Card para tercer plan -->
        <div class="pack-container">
            <div class="header">
                <p class="title">Nombre del plan</p>
                <div class="price-container">
                    <span>$</span>27
                    <span>/mo</span>
                </div>
            </div>
            <div>
                <ul class="lists">
                    <li class="list">
                        <span>
                            <svg
                                aria-hidden="true"
                                stroke="currentColor"
                                stroke-width="2"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M4.5 12.75l6 6 9-13.5"
                                    stroke-linejoin="round"
                                    stroke-linecap="round"
                                ></path>
                            </svg>
                        </span>
                        <p>Poner esto</p>
                    </li>
                </ul>
            </div>
            <div class="containerBotones">
                <div class="button-container">
                    <a>
                        <i class='bx bx-wallet'></i>
                        Comprar plan
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="addBtn-container">
        <select class="cupon-dropdown" [(ngModel)]="selectedCouponId">
            <option *ngFor="let coupon of coupons" [value]="coupon.idCoupon">
              Cupón ID: {{ coupon.idCoupon }} - Estado: {{ coupon.active ? 'Activo' : 'Inactivo' }}
            </option>
        </select>
          
        <a (click)="redeemCoupon()">
            <i class='bx bx-plus-circle'></i>
            Redimir cupón
        </a>
    </div>
    
    
    
    
    
  </section>
</body>