<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>Planes</h1>
    </div>

    <div class="gridTablas">
      <!-- Iterate over available plans -->
      <div *ngFor="let plan of plans" class="pack-container">
        <div class="header">
          <p class="title">{{ plan.name }}</p>
          <div class="price-container">
            <span>$</span>{{ plan.price }}
            <span>/mes</span> <!-- Changed to "mes" for better context in Spanish -->
          </div>
        </div>

        <!-- Features of the plan -->
        <div *ngIf="plan.planFunctionalities.length > 0; else noFunctionalities">
            <ul class="lists">
              <li class="list" *ngFor="let feature of plan.planFunctionalities">
                <span>
                  <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                  </svg>
                </span>
                <p>{{ feature.description }}</p> <!-- Assuming 'feature' has a 'description' field -->
              </li>
            </ul>
          </div>
          <ng-template #noFunctionalities>
            <p>No hay funcionalidades disponibles para este plan.</p>
          </ng-template>
          
          

        <!-- Button for confirming or selecting the plan -->
        <div class="containerBotones">
          <div class="button-container">
            <a *ngIf="activePlanId !== plan.id" (click)="handlePlanSelection(plan.id)">
              <span>
                <i class="bx bx-wallet"></i>
                {{ confirmingPlanId === plan.id ? 'Confirmar' : 'Comprar plan' }}
              </span>
            </a>
            <a *ngIf="activePlanId === plan.id" class="activo">
              <i class="bx bx-check-circle"></i>
              Activo
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Dropdown and button for redeeming coupons -->
    <div class="addBtn-container">
      <select class="cupon-dropdown" [(ngModel)]="selectedCouponId">
        <!-- Display a message when there are no coupons -->
        <option *ngIf="coupons.length === 0" disabled>No hay cupones disponibles</option>
        
        <!-- Iterate over coupons when available -->
        <option *ngFor="let coupon of coupons" [value]="coupon.idCoupon">
          Cupón ID: {{ coupon.idCoupon }} - Estado: {{ coupon.active ? 'Activo' : 'Inactivo' }}
        </option>
      </select>
      <a (click)="redeemCoupon()">
        <i class="bx bx-plus-circle"></i>
        Redimir cupón
      </a>
    </div>
  
  </section>
</body>
