:root {
	--navy-blue: #19647e;
	--light-blue: #87bcde;
	--light-red: #e15554;
	--dark-gray: #91918f;
	--light-gray: #d9d9d9;
	--light-yellow: #ffca3a;
}

body {
	min-height: 89vh;
	margin-top: 100px;
	width: 100%;
}

.headerPage {
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;
}

.sidebar {
	position: fixed;
	top: 100px;
	left: 0;
	width: 280px;
}

.contenido {
	margin-left: 280px;
	padding: 20px;
}

.titulo {
	width: 100%;
	height: 50px;
	text-align: center;
}

.titulo h1 {
	font-size: 3em;
	font-weight: bold;
}



.middle {
	margin-top: 50px;
	display: flex;
	width: 100%;
	height: 30%;
	justify-content: space-between;
}

.categoria {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}

.catTitle {
	display: flex;
	width: 100%;
	height: 20%;
	padding-left: 18px;
	font-size: 2.8em;
	text-align: center;
}

.catWidgets {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}

.card2 {
	display: flex;
	flex-direction: column;
	width: calc(260px - 5px);
	height: 175px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	transition: all 0.4s;
}

.card2:hover {
	box-shadow: 0px 0px 30px 1px #ffca3a;
}

.card-header {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.icono {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 5em;
    width: 25% !important;
    color: #ffca3a;
}

.dato {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 3em;
    width: 75% !important;
    font-size: 2em !important;
    text-decoration: underline#ffca3a;
}

.card-body {
	width: 100%;
	height: 50%;
	padding-top: 4px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.card-body p {
	font-size: 1.5em;
	text-align: center;
}

.bottom {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.chart canvas {
    height: 100% !important;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart1 canvas {
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grafica_Izq {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 100%;
    height: 100%;
}

.grafica_Der {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 100%;
    height: 100%;
}

.grafica_Der h1, .grafica_Izq h1 {
    padding-top: 25px;
    padding-bottom: 25px;
}


