.loginContainer {
    display: flex;
    height: 100vh;
  }
  
  .imageContainer {
    flex: 1;
    background-color: #f0f0f0; /* Color de fondo de la mitad izquierda */
    position: relative; 
  }
  
  .logoHeader {
    position: absolute;
    top: 10px; 
    left: 10px; 
    max-width: 150px; /* Tamaño del logo */
    height: auto;
  }
  
  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border: 1px solid #d9d9d9; /* Borde sólido */
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: Agregar sombra para un efecto elevado */
  }
  
  form label {
    margin: 10px 0 5px;
  }
  
  form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #333;
  }
  
  a {
    margin-top: 10px;
    color: #666;
    text-decoration: none;
  }
  
  h2{
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    font-size: 3em;
  }

  .forgotPassword{
    text-align: left;
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }

  .forgotPassword:hover {
    color: #333; 
    cursor: pointer; 
  }