<div class="loginContainer">
    <div class="imageContainer">
      <img src="assets/madein-logo.png" alt="Logo" class="logoHeader"/>
    </div>
    <div class="formContainer">
      <h2>Log In</h2>
      <form (ngSubmit)="onSubmit()">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
        <label for="password">Password</label>

        <input type="password" id="password" name="password" [(ngModel)]="password" required>
        <button type="submit">Log In</button>
        <a href="#" class="forgotPassword">Forgot password</a>

    </form>
      
    </div>
  </div>
  