:root {
	--navy-blue: #19647e;
	--light-blue: #87bcde;
	--light-red: #e15554;
	--dark-gray: #91918f;
	--light-gray: #d9d9d9;
	--light-yellow: #ffca3a;
}

body {
	min-height: 89vh;
	margin-top: 100px;
	width: 100%;
}

.headerPage {
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;
}

.sidebar {
	position: fixed;
	top: 100px;
	left: 0;
	width: 280px;
}

.contenido {
	margin-left: 280px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo {
	width: 100%;
	height: 50px;
	text-align: center;
}

.titulo h1 {
	font-size: 3em;
	font-weight: bold;
}

.table-container {
	width: 100%;
	overflow: scroll;
    display: flex;
    justify-content: center;
    
}

.table-container::-webkit-scrollbar {
	display: none;
}

table.tablita {
	font-size: 1.3em;
	width: 80%;
	overflow-y: scroll;
	border-collapse: separate;
	border-spacing: 0px;
    margin-top: 25px;
}

.tablita th,
.tablita td {
	padding: 10px;
	text-align: center;
	width: 25%;
}

.tablita th {
	position: sticky; /* Fija el encabezado en su posición */
	top: 0;
	background-color: black;
	color: white;
}

.tablita td {
    height: 100px;
}

.tablita tr:nth-child(even) {
	background-color: #eeeeee;
}

.opciones {
	height: 10%;
	width: 100%;
	padding: 0px 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.links {
	font-size: 1.5em;
	color: black;
}

.edit:hover {
	color: #ffca3a;
	text-shadow: 0 4px 16px #ffca3a;
	transition: all 0.2s ease;
}

.delete:hover {
	color: #e15554;
	text-shadow: 0 4px 16px #e15554;
	transition: all 0.2s ease;
}

.message:hover {
    color: #87bcde;
    text-shadow: 0 4px 16px #87bcde;
    transition: all 0.2s ease;
}

.addBtn-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 700px;
	padding-top: 15px;
	height: 63px;
}

.addBtn-container a {
	width: 300px;
	background-color: #d9d9d9;
	padding: 10px 20px;
	color: black;
	outline: 0;
	border: 0;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
}

.addBtn-container a:hover {
	background-color: black;
	color: #d9d9d9;
}

.addBtn-container i {
	font-size: 1.5em;
}