<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Inventario</h1>
		</div>

		<!-- Contenedor de Productos -->
		<div class="products-container">
			<div class="titulo-paginacion">
				<div class="container-title">
					<h2>Productos</h2>
					<a class="links add" [routerLink]="'/inventario/nuevoProducto'" id="addProduct">
						<i class="bx bx-add-to-queue"></i>
					</a>
				</div>
				<div class="paginacion">
					<mat-paginator
						[length]="totalProducts"
						[pageSize]="pageSize"
						(page)="handleProductsPageEvent($event)"
						[hidePageSize]="true"
					>
					</mat-paginator>
				</div>
			</div>

			<div class="table-container">
				<table id="myTable" class="tablita">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre Producto</th>
							<th>Unidades (En Stock)</th>
							<th>Valor</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let producto of productos">
							<td>{{ producto.id }}</td>
							<td>{{ producto.name }}</td>
							<td>{{ producto.quantity }}</td>
							<td>{{ producto.price }}</td>
							<td>
								<a class="links delete" (click)="deleteProduct(producto.id)" [routerLink] ="'/inventario'" id="deleteProduct">
									<i class="bx bx-trash"></i>
								</a>
								<a class="links edit" [routerLink]="'/inventario/editarProducto/' + producto.id" id="editProduct">
									<i class="bx bx-edit"></i>
								</a>
								<a class="links informa" [routerLink]="'/inventario/infoProducto/' + producto.id" id="infoProduct">
									<i class="bx bx-info-circle"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Contenedor de Servicios -->
		<div class="services-container">
			<div class="titulo-paginacion paginacionServices">
				<div class="container-title">
					<h2>Servicios</h2>
					<a class="links add" [routerLink]="'/inventario/nuevoServicio'" id="addService">
						<i class="bx bx-add-to-queue"></i>
					</a>
				</div>
				<div class="paginacion">
					<mat-paginator
						[length]="totalServices"
						[pageSize]="pageSize"
						(page)="handleServicesPageEvent($event)"
						[hidePageSize]="true"
					>
					</mat-paginator>
				</div>
			</div>

			<div class="table-container">
				<table id="myTable" class="tablita">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre Servicio</th>
							<th>Valor</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let servicio of servicios">
							<td>{{ servicio.id }}</td>
							<td>{{ servicio.name }}</td>
							<td>{{ servicio.price | currency }}</td>
							<td>
								<a class="links delete" (click)="deleteService(servicio.id)" id ="deleteService">
									<i class="bx bx-trash"></i>
								</a>
								<a class="links edit" [routerLink]="'/inventario/editarServicio/' + servicio.id" id="editService">
									<i class="bx bx-edit"></i>
								</a>
								<a class="links informa" [routerLink]="'/inventario/infoServicio/' + servicio.id" id="infoService">
									<i class="bx bx-info-circle"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
