<app-header class="headerPage"></app-header>

<body>
	<app-sidebar class="sidebar"></app-sidebar>

	<section class="contenido">
		<div class="titulo">
			<h1>Información del Servicio</h1>
		</div>

		<div class="info-product" *ngIf="servicio">
			<div class="info-product-container">
				<div class="image-placeholder">
					
					<img
						*ngIf="servicio.picture"
						[src]="'data:image/png;base64,' + servicio.picture"
						alt="Service Image"
						class="service-img"
					/>
					
				</div>
				<div class="product-info">
					<div class="info-group">
						<strong>Nombre:</strong>
						<p>{{ servicio.name }}</p>
					</div>
					<div class="info-group">
						<strong>Precio:</strong>
						<p>{{ servicio.price }}</p>
					</div>
                    <div class="info-group">
                        <strong>Descripción:</strong>
                        <p>
                            {{ servicio.description }}
                        </p>
                    </div>
                        <a [routerLink]="['/inventario']">
                            <button class="btn-back" id ="volver">Volver</button>
                        </a>
				</div>
			</div>
		</div>

		
	</section>
</body>
