<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>Información del Proveedor</h1>
    </div>

    <div class="datos-container">
      <!-- Sección de Datos Actuales -->
      <div class="datos-actuales">
        <h2>Datos Actuales</h2>
        <div class="datos-usuario">
          <img src="https://icons.veryicon.com/png/o/miscellaneous/ionicons-2/person-30.png" alt="User Icon" class="user-icon" />
          <div class="info-usuario">
            <p><strong>Nombre:</strong> {{supplier?.name}}</p>
            <p><strong>Contacto:</strong> {{supplier?.contact_number}}</p>
            <p><strong>Descripción:</strong> {{supplier?.description}}</p>
          </div>
        </div>
      </div>

      <!-- Sección de Editar Datos -->
      <div class="editar-datos">
        <h2>Editar datos:</h2>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" [(ngModel)]="editedSupplier.name" />
        </div>
        <div class="form-group">
          <label for="contacto">Contacto</label>
          <input type="text" id="contacto" [(ngModel)]="editedSupplier.contact_number" />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" [(ngModel)]="editedSupplier.description"></textarea>
        </div>
        <button class="btn-guardar" (click)="saveChanges()">Guardar cambios</button>
      </div>
    </div>
  </section>
</body>
