<app-header-client class="headerPage"></app-header-client>

<body>
    <app-sidebar class="sidebar"></app-sidebar>

    <section class="contenido">
        <div class="titulo">
            <h1>Pedidos</h1>
        </div>
   
        <div class="paginacion">
            <mat-paginator
                [length]="length"
                [pageSize]="pageSize"
                (page)="handlePageEvent($event)"
                [hidePageSize]="true"
            >
            </mat-paginator>
        </div>


        
        <div class="search-container">
            <i class='bx bx-search'>
                <input type="text" placeholder="Búsqueda por ID del pedido" id="searchBar">
            </i>
        </div>

        <div class="table-container">
            <table id="myTable" class="tablita">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Estado del Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
						<td>{{ order.id }}</td>
						<td>{{ order.client}}</td>
						<td>{{ order.date| date: 'dd/MM/yyyy' }}</td>
						<td>{{ order.state }}</td>
					</tr>
                </tbody>
            </table>
        </div>

        <!-- Pedidos Totales -->
        <div class="total-pedidos">
            <p><strong>Pedidos totales: {{length}}</strong></p>
        </div>
    </section>
</body>
