<app-header></app-header>

<body>
  <app-sidebar></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>Pedidos</h1>
    </div>

    <div class="paginacion">
      <mat-paginator
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        (page)="handlePageEvent($event)"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>
    </div>

    <div class="table-container">
      <table id="myTable" class="tablita">
        <thead>
          <tr>
            <th>ID</th>
            <th>Ciudad</th>
            <th>Estado</th>
            <th>Dirección</th>
            <th>Estado del Pedido</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.city.name }}</td>
            <td>{{ order.city.state.name }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.orderState.state }}</td>
            <td>
              <button (click)="deleteOrder(order.id)" class="btn-delete">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Pedidos Totales -->
    <div class="total-pedidos">
        <p><strong>Pedidos totales: {{length}}</strong></p>
    </div>
  </section>
</body>
