* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy-blue: #19647e;
    --light-blue: #87bcde;
    --light-red: #e15554;
    --dark-gray: #91918f;
    --light-gray: #d9d9d9;
    --light-yellow: #ffca3a;
}

body {
    width: 100%;
    height: 80px;
    border-bottom: 1.6px solid #d9d9d9;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeader {
    width: 184px;
    margin-left: 20px;
    margin-right: 20px;
}

.btnLogout {
    height: 32px;
    width: 160px;
    margin-right: 20px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: black;
    font-size: 0.8em;
    cursor: pointer;
}

.btnLogout:hover {
    box-shadow: 0 3.2px 12.8px black;
    transition: all 0.2s ease;
}
