<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>
  <section class="contenido">

    <div class="titulo-paginacion">
      <div class="titulo">
        <h1>Bazares</h1>
      </div>
      <div class="paginacion">
				<mat-paginator
					[length]="length"
					[pageSize]="pageSize"
					(page)="handlePageEvent($event)"
					[hidePageSize]="true"
				>
				</mat-paginator>
			</div>
		</div>

    <div class="table-container">
      <table id="myTable" class="tablita">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre Bazar</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Modalidad</th>
            <th>Locales Disponibles</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bazar of bazares">
            <td>{{ bazar.id }}</td>
            <td>{{ bazar.nombre }}</td>
            <td>{{ bazar.fechaInicio }}</td>
            <td>{{ bazar.fechaFin }}</td>
            <td>{{ bazar.modalidad }}</td>
            <td>{{ bazar.localesDisponibles }}</td>
            <td>
              <a class="links informa" [routerLink]="'/bazares/' + bazar.id">
                <i class="bx bx-info-circle"></i>
              </a>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
