<app-header class="headerPage"></app-header>

<body>
  <app-sidebar class="sidebar"></app-sidebar>

  <section class="contenido">
    <div class="titulo">
      <h1>Bazares</h1>
    </div>

    <div class="table-container">
      <table id="myTable" class="tablita">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre Bazar</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Modalidad</th>
            <th>Locales Disponibles</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Bazar de Emprendedores</td>
            <td>01/11/2024</td>
            <td>05/11/2024</td>
            <td>Presencial</td>
            <td>10</td>
            <td>
              <a class="links informa" [routerLink]="'/bazares/1'"	>
                <i class="bx bx-info-circle"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Bazar Virtual de Moda</td>
            <td>15/12/2024</td>
            <td>20/12/2024</td>
            <td>Virtual</td>
            <td>20</td>
            <td>
              <a class="links informa">
                <i class="bx bx-info-circle" [routerLink]="'/bazares/1'"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="addBtn-container">
      <a>Crear un nuevo Bazar</a>
    </div>
  </section>
</body>
