<body>
    <div class="tituloSB">
        <p>Menu</p>
    </div>

    <div class="opciones">
        <ul>
            <li>
                <a class="elementos" [routerLink]="'/dashboard'" id="linkDashboard" aria-label="Dashboard">
                    <i class="bx bxs-dashboard"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/inventario'" id="linkInventario" aria-label="Inventario">
                    <i class="bx bxs-store-alt"></i>
                    <span class="nav-item">Inventario</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/proveedores'" id="linkSupplier" aria-label="Proveedores">
                    <i class='bx bxs-truck'></i>
                    <span class="nav-item">Proveedores</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/pedidos'" id="linkPedidos" aria-label="Pedidos">
                    <i class="bx bx-news"></i>
                    <span class="nav-item">Pedidos</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/ventas'" id="linkVentas" aria-label="Ventas">
                    <i class='bx bx-dollar'></i>
                    <span class="nav-item">Ventas</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/bazares'" id="linkBazares" aria-label="Bazares">
                    <i class='bx bxs-shopping-bags'></i>
                    <span class="nav-item">Bazares</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/capacitaciones'" id="linkCapacitaciones" aria-label="Potencia tu Marca">
                    <i class='bx bxl-instagram'></i>
                    <span class="nav-item">Potencia tu Marca</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/planes'" id="linkPlan" aria-label="Mejora tu Plan">
                    <i class='bx bx-user'></i>
                    <span class="nav-item">Mejora tu Plan</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/soporte'" id="linkSoporte" aria-label="Soporte">
                    <i class='bx bxs-help-circle'></i>
                    <span class="nav-item">Soporte</span>
                </a>
            </li>
        </ul>
    </div>
</body>
