<body>
    <div class="tituloSB">
        <p>Menu</p>
    </div>

    <div class="opciones">
        <ul>
            <li>
                <a class="elementos" [routerLink]="'/dashboard'" id="linkDashboard">
                    <i class="bx bxs-dashboard"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/emprendimientos'" id="linkEmprendimientos">
                    <i class="bx bxs-store-alt"></i>
                    <span class="nav-item">Emprendimientos</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/planes'" id="linkPlanes">
                    <i class="bx bx-news"></i>
                    <span class="nav-item">Planes</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/finanzas'" id="linkFinanzas">
                    <i class='bx bx-dollar'></i>
                    <span class="nav-item">Finanzas</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/bazares'" id="linkBazares">
                    <i class='bx bxs-shopping-bags'></i>
                    <span class="nav-item">Bazares</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/publicidad'" id="linkPublicidad">
                    <i class='bx bxl-instagram'></i>
                    <span class="nav-item">Publicidad</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/perfiles'" id="linkPerfiles">
                    <i class='bx bx-user'></i>
                    <span class="nav-item">Perfiles</span>
                </a>
            </li>
            <li>
                <a class="elementos" [routerLink]="'/capacitaciones'" id="linkCapacitaciones">
                    <i class='bx bxs-videos' ></i>
                    <span class="nav-item">Capacitaciones</span>
                </a>
            </li>
            <li>
                <a class="elementos" id="linkSoporte">
                    <i class='bx bx-support' ></i>
                    <span class="nav-item">Soporte</span>
                </a>
            </li>
        </ul>
    </div>

</body>