<div class="password-recovery-container">
    <img src="assets/madein-logo.png" alt="Made In Logo" class="logo">

    <div class="password-recovery-card">
      <h1>Verification Required</h1>
      <p>To continue, complete this verification step. We have sent a code to the email provided in the previous step. Please enter the code below.</p>
  
      <form>
        <label for="code">Enter Code</label>
        <input type="code" id="code" name="code" placeholder="Code" required>
  
        <div class="addBtn-container">
			<a [routerLink]="'/recuperar-password/crear'">
				Continue
			</a>
		</div>
      </form>
    </div>
  </div>
  
