<div class="password-recovery-container"> 
  <img src="assets/madein-logo.png" alt="Made In Logo" class="logo">

  <div class="password-recovery-card">
      <h1>Verificacion requerida</h1>
      <p>Para continuar, complete la verificacion. Le hemos enviado un correo a su mail. Porfavor ingrese el codigo que recibio.</p>

      <form (ngSubmit)="onSubmit()">
          <input type="code" [(ngModel)]="code" id="code" name="code" placeholder="Ingrese el codigo" required> <!-- Asegúrate de que el tipo sea "code" -->

          <div class="addBtn-container">
              <button type="submit" class="submit-button">Continuar</button> <!-- Cambiar el enlace por un botón -->
          </div>
      </form>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </div> 
</div>
