.loginContainer {
    display: flex;
    height: 100vh;
  }
  
  .imageContainer {
    flex: 1;
    background-color: #f0f0f0; /* Color de fondo de la mitad izquierda */
    position: relative; 
  }
  
  .logoHeader {
    position: absolute;
    top: 10px; 
    left: 10px; 
    max-width: 150px; /* Tamaño del logo */
    height: auto;
  }
  
  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center;
    padding: 20px;
}
  
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    border: 1px solid #d9d9d9; /* Borde sólido */
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: Agregar sombra para un efecto elevado */
  }
  
  form label {
    margin: 10px 0 5px;
  }
  
  form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #333;
  }
  
  a {
    margin-top: 10px;
    color: #666;
    text-decoration: none;
  }
  
  h2{
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
    font-size: 3em;
  }

  .forgotPassword{
    text-align: left;
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }

  .forgotPassword:hover {
    color: #333; 
    cursor: pointer; 
  }

  button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[disabled] {
    cursor: not-allowed;
  }
  
  .spinner {
    border: 3px solid rgba(255, 255, 255, 0.3); /* Color del borde de fondo */
    border-top: 3px solid #fff; /* Color del borde del spinner */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Aumentar el espacio entre el texto de registro y el enlace */
  .registrationLinks {
    display: flex;
    flex-direction: row; /* Cambiar a columna para alinear verticalmente */
    justify-content: left; /* Centrar el contenido */
    align-items: left; /* Centrar horizontalmente */
    width: 80%; /* Cambia esto a 100% para igualar al contenedor del formulario */
    margin-top: 15px;
}
.registrationLinks {
    display: flex;
    flex-direction: row; /* Cambiar a columna para alinear verticalmente */
    justify-content: left; /* Centrar el contenido */
    align-items: left; /* Centrar horizontalmente */
    width: 80%; /* Cambia esto a 100% para igualar al contenedor del formulario */
    margin-top: 15px;
}




/* Botón de registro */
.registerHere {
    text-align: left;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 15px;
}

/* Estilo para los campos de entrada y el dropdown */
form input,
form select { 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
}

/* Asegúrate de que el dropdown se vea bien */
form select {
    background: #fff; /* Color de fondo */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border: 1px solid #ccc; /* Bordes */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio inferior */
    font-family: inherit; /* Fuente heredada */
    font-size: inherit; /* Tamaño de fuente heredado */
}

/* Opcional: estilo adicional para el dropdown al hacer hover */
form select:hover {
    border-color: #333; /* Cambia el color del borde al pasar el ratón */
}
