<body>
    <div class="tituloSB">
        <p>Menu</p>
    </div>

    <div class="opciones">
        <ul>
            <li>
                <a class="elementos" id="linkBazares">
                    <i class='bx bxs-store'></i>
                    <span class="nav-item">Bazares</span>
                </a>
            </li>
            <li>
                <a class="elementos" id="linkPedidos">
                    <i class='bx bxs-shopping-bags'></i>
                    <span class="nav-item">Pedidos</span>
                </a>
            </li>
            <li>
                <a class="elementos" id="linkReservas">
                    <i class='bx bx-calendar' ></i>
                    <span class="nav-item">Reservas</span>
                </a>
            </li>
        </ul>
    </div>
</body>
